<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9f2db82103.js" crossorigin="anonymous"></script>
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="encabezado">
            <div class="logo">
                <img href="/" src="/images/logo-mercado-liebre.svg">
            </div>
            <div class="barra">
                <input type="text" placeholder="Buscar">
            </div>
            <div class="cuotas-tarjeta">
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de credito</p>
            </div>
        </div>
        <nav class="opciones">
            <ul class="opciones-der">
                <li><a href="#" , class="links">Ofertas</a></li>
                <li><a href="#" , class="links">Tiendas oficiales</a></li>
                <li><a href="#" , class="links">Vender</a></li>
                <li><a href="#" , class="links">Ayuda</a></li>
            </ul>
            <ul class="opciones-der">
                <li><a href="/register" , class="links">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login" , class="links">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#" , class="links">Mis compras <i class="fas fa-shopping-basket"></i></a>
            </ul>
        </nav>
        <div class="bar">
            <button class="boton-barra"><i class="fas fa-bars"></i></button>
        </div>
        </div>
    </header>
    <main>
        <div class="caja-datos">
            <div class="titulo">
                <h1>Registrate</h1>
            </div>
            <form action="/register"></form>
            <div class="caja-formularios">
                <input class="datos" type="email" name="email" id="email" placeholder="Registrá tu Email">
            </div>
            <div class="caja-formularios">
                <input class="datos" type="password" name="contraseña" required="" id="contraseña"
                    placeholder="Elegí tu contraseña">
            </div>
            <div class="caja-formularios">
                <input class="datos" type="password" name="contraseña" id="contraseña"
                    placeholder="Confirmá tu contraseña">
            </div>
            <div class="caja-formularios">
                <h4>Fecha de nacimiento</h4>
                <input class="datos" type="date" name="nacimiento" id="nacimiento" placeholder="Fecha de nacimiento">
                <span class="feedback"></span>
            </div>
            <div class="caja-formularios">
                <input class="datos" type="text" name="domicilio" required="" id="domicilio" placeholder="Domicilio">
            </div>
            <div class="check-boxes">
                <h4>Perfil de usuario</h4>
                <div class="radio">
                    <label><input type="radio" name="comprador" value="comprador"> Comprador </label>
                    <label><input type="radio" name="vendedor" value="vendedor"> Vendedor </label>
                </div>
                <div class="check">
                    <h4>Interés</h4>       
                    <input type="checkbox" name="interés" id="electro" value="electro">
                    <label for="electro">Electro</label><br>                   
                    <input type="checkbox" name="interés" id="moda" value="moda">
                    <label for="moda">Moda</label><br>                    
                    <input type="checkbox" name="interés" id="hogar" value="hogar">
                    <label for="hogar">Hogar</label><br>                    
                    <input type="checkbox" name="interés" id="juguetes" value="juguetes">
                    <label for="juguetes">Jugueteria</label><br>                    
                    <input type="checkbox" name="interés" id="sano" value="sano">
                    <label for="sano">Vida sana</label><br>
                </div>
            </div>
            <div class="botones">
                <button class="enviar" type="submit">Enviar</button>
                <button class="borrar" type="submit">Borrar</button>
            </div>
        </form>
        </div>
        </div>

    </main>
    <footer>
        <div class="extra-foot">
            <div class="pie">
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="pie">
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="pie">
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
        <div class="copy">
            <p>● Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>